
body, h1, h2, p, ul, li  {
    font-family: 'VT323', monospace;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    line-height: 1.0;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.photo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px; /* max width */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

/* img style */
.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* round corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); /* drop shadow */
    object-fit: cover;
}

/* content */
.content {
    min-width: 650px;
}

/* links */
.links-container {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    padding-left: 20px;
    padding-top: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.link-list li {
    list-style: none;
    margin-bottom: 15px;
}

.link-list a {
    font-size: 1.2em;
    text-decoration: none;
    color: #00ff66;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.link-list a:hover {
    color: #ffffff;
}

.sprite {
    margin-right: 12px; 
}

.title {
    font-size: 6.5em;
    color: #00FF66;
    margin: 0;
    text-align: left;
    padding-left: 20px;
    min-width: 650px;
}

.cursor {
    display: inline-block;
    width: 1em;
    height: 1em;
    animation: blink 1s step-end infinite;
    color: #00ff66;
    font-size: 0.75em;
    margin-left: 0.15em;
    transform: translateY(-0.15em);
}

.subhead {
    color: #00FF66;
    font-size: 1.25em;
    padding-left: 20px;
}

.summary {
    font-size: 1.0em;
    color: #9da3a3;
    margin-top: 1.5em;
    padding: 20px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    min-width: 300px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.links a {
    color: #6f4cc7;
    margin: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.links a:hover {
    color: #b6a2e8;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 2.8rem;
        max-width: 100%;
    }

    .subhead {
        font-size: 0.8rem;
        max-width: 100%;
    }

    .summary {
        max-width: 375px;
        width: 100%;
        font-size: 0.8rem;
        margin: 10px auto 20px;
    }

    .links a {
        font-size: 0.9rem;
    }

     .container {
        flex-direction: column;
    } 


    .content {
        min-width: auto;
        margin-bottom: 20px;
    }

    .links-container {
        flex-direction: row;
        align-items: center;
        max-width: 100%; 
        padding: 20px;
        order: -1;
    }

    .link-list {
        margin-left: 35px;
    }


    .photo-grid {
        grid-template-columns: 1fr; 
        max-width: 100%;
    }

} 
